button {
    font-family: $family-heading;
    font-size: $size-lg;
    user-select: none;
    white-space: nowrap;
}

button.pop {
    @include transform();
    border-radius: rem(8px);
    font-weight: 900;
	margin: 0 rem(10px);
    padding: rem(2px) rem(20px);
    user-select: none;

    &:hover {
        transform: scale(115%);
    }

    &:active {
        transform: scale(115%) rotate(4deg);
    }

    i {
        font-size: $size-md;
        margin-right: rem(2px);
        text-shadow: none;
    }
    
}

button.pop {
    border-bottom: 5px solid transparent;
    color: $color-white;

    &.blue {
        @include theme-button($color-blue, $color-blue-dk);
    }

    &.green {
        @include theme-button($color-green, $color-green-dk);
    }

    &.red {
        @include theme-button($color-red, $color-red-dk);
    }

    &.yellow {
        @include theme-button($color-yellow, $color-yellow-dk);
    }
}

button.flat {
    @include flex(center, center, row);
    border-radius: rem(12px);
    flex-wrap: nowrap;
    font-weight: 700;
    padding: rem(4px) rem(12px);

    i {
        @include transform;
        font-size: $size-sm;

        &.left {
            margin-right: rem(6px);
        }

        &.right {
            margin-left: rem(6px);
        }
    }

    &:hover, &:active {
        i {
            transform: scale(120%);
        }
    }
    
}

button.flat {
    color: $color-white;

    &.red {
        background-color: $color-red;

        i {
            color: $color-red-dk;
        }
    }

    &.yellow {
        background-color: $color-yellow-dk;

        i {
            color: $color-yellow;
        }
    }
}