$family-heading: 'Baloo 2', Arial, Helvetica, sans-serif;
$family-body: 'Nunito', Arial, Helvetica, sans-serif;

$size-h1: rem(38px);
$size-h2: rem(24px);

$size-xsm: rem(12px);
$size-sm: rem(16px);
$size-md: rem(18px);
$size-lg: rem(22px);
$size-xl: rem(24px);

$color-black: #222222;
$color-grey: #5f5f5f;
$color-grey-lt: #fafafa;
$color-grey-md: #afafaf;
$color-grey-dk: #434343;
$color-white: #ffffff;
$color-white-lt: #f9f9f9;
$color-white-dk: #d6d6d6;
$color-white-xdk: #cccccc;
$color-white-xxdk:rgb(160, 160, 160);

$color-yellow: #ffcc00;
$color-yellow-dk: #fe9712;
$color-yellow-xdk: #d47901;
$color-red: #fe403f;
$color-red-dk: #a62928;
$color-blue: #00a2ff;
$color-blue-dk: #1677e5;
$color-green: #99af19;
$color-green-dk: #788400;
$color-purple: #9e6cff;
$color-purple-dk: #6a41ce;
$color-orange: #ff8500;
$color-orange-dk: #ce6700;
$color-pink: #ff69bb;
$color-pink-dk: #ef2ea1;